.home-section {
    padding-top: 0px;
    /* background-color: #000; */
}

/* .banner {
    height: 650px;

} */

/* .slider-wrapper {
    height: 650px;
} */

.video {
    width: 100%;
    height: 100%;
}

.arrow-prev-control,
.arrow-next-control {
    position: absolute;
    z-index: 999;
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
}

.arrow-prev-control .icon,
.arrow-next-control .icon {
    font-size: 2rem;
}

.arrow-prev-control {
    top: 50%;
    left: 0;
}

.arrow-next-control {
    right: 0;
    top: 50%;
}

.brand-section {
    margin-top: .5rem;
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-slide img {
    width: 100%;
    height: auto;
    cursor: pointer;
}