.header-container {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.head-infor {
  /* position: relative; */
  height: 30px;
  /* top: 0; */
  background-color: #fff;
  display: block;
  transition: all .3s ease;
}

.head-infor.hide {
  display: none !important;
}

.nav-s.active {
  /* position: relative; */
  /* top: 30px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  height: 55px;
  font-size: .9rem;
  background-color: rgba(255, 255, 255, 0.9);
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* position: relative; */
}

nav.nav-shadow-scroll {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav.nav-shadow-normal {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

nav li {
  height: 70%;
  padding-right: 0.5rem;
}

nav a,
nav button {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}

nav button {
  background-color: #fff;
  border: none;
}

nav a:hover {
  background-color: #f0f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sideBar {
  position: fixed;
  top: 100px;
  right: 0;
  height: 700px;
  width: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sideBar.open {
  /* height: 100vh; */
  width: 250px;
}

.none {
  width: 0;
  /* height: 100vh; */
}

.sideBar li {
  width: 100%;
}

.sideBar a,
.sideBar button {
  width: 100%;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .sideBar.open {
    width: 100%;
  }
}

.menu-btn .menu-trigger-btn {
  transition: transform 0.3s ease;
}

.menu-btn .menu-trigger-btn:hover {
  background-color: transparent;
}

.menu-btn.active .menu-trigger-btn {
  transform: rotateZ(180deg);
}

.logo-home {
  height: 35px;
  width: auto;
  transform: scale(2.5);
}

.logo-link {
  margin-left: 2rem;
}

.logo-link:hover {
  background-color: transparent;
}

.navbar-icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 1rem 2rem; */
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: -10px 0 10px rgba(38, 38, 38, 0.1);
  width: 0;
  height: 320px;
  /* top: 120px; */
  top: 100%;
  right: 0;
  transition: all 0.2s ease;
  overflow: hidden;
  z-index: 1000;
}

.search-container.active-search {
  padding: 1rem 2rem;
  width: 100%;
}

.search-container.inactive-search {
  width: 0;
}

.active-search.sidebar {
  z-index: 1000;
  backdrop-filter: blur(0px);
  background-color: transparent;
}

.search-container.scrolled-search-active {
  top: 45px;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-user-menu {
  position: absolute;
  top: 120%;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  width: 200px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 1001;
  background-color: #fff;
  border-radius: 7px;
}

.dropdown-user-menu::after {
  content: "";
  position: absolute;
  /* top: 50%; */
  top: -10px;
  right: 15%;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.dropdown-item>a,
.dropdown-item>button {
  border-radius: 7px;
  padding: 5px 7px;
  width: 100%;
  color: rgb(126, 113, 87);
  font-size: 1rem;
}

.dropdown-item>a:hover,
.dropdown-item>button:hover {
  background-color: #dfddda;
  color: rgb(182, 126, 5);
}

.nav-user-email {
  color: rgb(136, 91, 2);
}

.dropdown-user-menu.open-dropdown-user {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.dropdown-user-menu.none-open-dropdown-user {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

/* product link hover dropdown menu */
.product-link-container {
  position: relative;
}

.product-link-dropdown-content {
  z-index: 1001;
  cursor: pointer;
  position: absolute;
  top: 2.8rem;
  opacity: 0;
  visibility: hidden;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 220px;
  /* transform: translateX(50%); */
  transition: opacity .4s ease, top .2s ease, visibility .3s ease, box-shadow .2s ease-in, border .2s ease, padding .2s ease;
}



.product-link-container:hover>.product-link-dropdown-content {
  top: 3.2rem;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.125);
  border: .5px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 7px 12px;
}

.product-link-dropdown-content>div:hover {
  background-color: rgb(232, 232, 232);
  border-radius: 2px;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.mobileProductBtn {
  height: 50px;
  background-color: transparent;
}

.mobile-product-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 3rem;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  transition: all .3s ease;
}

.mobile-product-menu.active {
  display: block;
  height: 120px;
  visibility: visible;
}

.user-avatar {
  /* width: 20px; */
  max-width: 30px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  /* margin-right: 20px; */
  border: 2px solid rgba(0, 0, 0, 0.3);
}