.product-view-container {
    margin-top: .5rem;
    position: relative;
}

.pv-brand-name {
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: #0a208f;

}

.list-product-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    justify-content: flex-start;
    background-color: #F9F8F6;
    padding-top: 1rem;
    padding-left: 1rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

}

.pv-product-img {
    width: 75px;
    height: auto;
    border: 1px solid #bbb;
    box-shadow: 0 0 1px 1px rgba(0, 0green, 0, 0.5);
    padding: 5px 16px;
    border-radius: 7px;
}

.pv-product-img.active {
    background-color: #f0f0f6;
    border: 1px solid #41465f;
    box-shadow: 0 0 6px 2px rgba(11, 5, 104, 0.1);

}


.pv-main-img {
    background-color: #F9F8F6;
    /* padding: 1rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

}

/*pv info*/
.pv-info-container {
    padding-left: 3rem;

}

.pv-content-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.pv-pd-name {
    margin-bottom: 0;
}

.pv-wish-list-btn {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 2rem;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    transition: all .2s ease;
    color: #a4a4a4;
}

.pv-wish-list-btn:hover {
    color: #ff7e7e;
    transform: scale(1.5);
}

.pv-reference {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.pv-reference p {
    color: #000000;
    line-height: 2.2rem;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.pv-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .25rem;
    margin-top: 1rem;
}

.pv-prod-status {
    padding: 1px 11px;
    border-radius: 4px;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.5rem;
}

.pv-prod-status.in-stock {
    background-color: #caf3bf;
}

.pv-prod-status.out-of-stock {
    background-color: #e0e0e0;
}

.pv-prod-discount {
    background-color: #ffaeae;
}

.pv-reviews {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.pv-reviews>p {
    margin-bottom: 0;

}

.pv-prices {
    margin-top: 1.5rem;
}

.pv-default-prices {
    background-color: #d3d3d3;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 1rem;
    color: #565656;
    line-height: 2rem;
    text-decoration-line: line-through;

}

.pv-discount-prices {
    background-color: #fcfcfc;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1rem;
    color: #000000;
    line-height: 2rem;
}

.pv-price-discount-desc,
.pv-prod-desc {
    font-size: .85rem;
    color: #666;
    margin-top: .5rem;
    line-height: 1.7rem;

}

#pv-prod-desc {
    /* max-height: 5rem; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /* //display 2 line */
    -webkit-line-clamp: 3;
    text-align: justify;
}

.pv-add-to-cart-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.pv-price-discount-desc {
    margin-top: .5rem;
}

.pv-price-discount-desc>p {
    margin-bottom: .25rem;
}

.pv-size-select {
    /* width: 35%; */
    height: 3rem;
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 5px 12px;
    flex: 1;
    /* flex-basis: 33.3%; */
    outline: none;
    border: 2px solid rgb(202, 194, 194);
    color: rgb(99, 95, 95);
    border-radius: 2px;
}

.pv-size-select:focus {
    border: 2px solid rgb(104, 104, 104);
}

.pv-add-to-cart-btn {
    /* width: 60%; */
    height: 3rem;
    flex: 2 auto;
    border: none;
    background-color: rgba(5, 2, 46, 0.7);
    color: #fcfcfc;
    font-size: 1.2rem;
    border-radius: 2px;
    position: relative;
}

.pv-add-to-cart-btn:hover {
    background-color: rgb(11, 6, 75);
}

.pv-add-to-cart-btn:active {
    background-color: rgb(0, 0, 0);
}

.line-container {
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    background-color: rgb(214, 213, 208);
    height: 1.5px;
    width: 100%;
}

.warranty-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: .65rem;
}

.warranty-check-icon {
    font-size: 1.5rem;
    font-weight: bold;
}

.warranty-content p {
    margin-left: 1rem;
    margin-bottom: 0;
    color: #565656;
}

.sticky-col {
    position: sticky;
    top: 5rem;
    height: 100vh;
    overflow-y: hidden;
}

.pv-toggle-desc {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: #606060;
}

.pv-prod-details {
    margin-top: 1rem;
}

.details-row-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.pv-prod-details h6 {
    font-style: normal !important;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.details-row:nth-child(even) {
    background-color: #f4f4f4;
}

.details-row {
    display: flex;
    flex-wrap: nowrap;
    font-size: .85rem;
    padding: 7px 0;
}

.details-key {
    flex: 1;
    color: #555555;
    font-weight: 500;
    margin-bottom: 0;

}

.details-value {
    flex: 2;
    color: #565656;
    margin-bottom: 0;
}

.pv-recommended-list-container {
    margin-top: 4.5rem;
}

.card {
    width: auto;
}

.card .product {
    width: 270px;
    border: none;
    box-shadow: none !important;
}

.card .product:hover {
    box-shadow: none !important;
}

.card .product .img img {
    max-width: 150px;
    transition: all .3s ease;
}

.card .product .img img:hover {
    transform: scale(1.2);
}

.reviews-snapshot-container,
.reviews-overall-rating-stars {
    padding: 15px 25px;

}

.stars-snapshot,
.reviews-overall-rating-stars {
    display: flex;
    flex-direction: column;
}

.stars-snapshot-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    gap: 15px;
    align-items: center;
}

.stars {
    width: 50px;
}

.star-percent-container {
    width: 400px;
    background-color: #e4e1ef;
    position: relative;
    /* margin-left: 2rem; */
    border-radius: 25px;
    height: 15px;

}

.star-percent-progress {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 90%; */
    background-color: rgb(43, 0, 66);
    z-index: 100;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 15px;
}

.reviews-overall-rating-stars {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: start; */
}

.overall-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

}

.overall-details h1 {
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 150%;
}

.reviews-details-container {}

.review-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e4d4d4;
}

.reviewer-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;

}

.rv-customer-avt {
    width: 65px;
    height: 65px;
    font-size: 2rem;
    background-color: #ced5fc;
    text-align: center;
    border-radius: 50%;
}

.rv-customer-name {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

.rv-content {
    margin-top: 1rem;
    color: rgb(70, 70, 70);
}

.rv-heart-btn {
    background-color: transparent;
    border: none;
}

.heart-active {
    color: red;
}

.rv-icons {
    font-size: 1.5rem;
    /* margin-left: 1.2rem; */
    margin-top: 1rem;
}

.icon-comment {
    margin-left: 2rem;
}

.rv-replies {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    background-color: #e4f0ff;
    padding: 10px 15px;
    border-radius: 20px;
}

.replies-info-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
}

.replies-customer-avt {
    background-color: #d3d3d3;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.replies-customer-name {
    font-weight: 500;
}

.replies-content {
    color: rgb(70, 70, 70);

    margin-top: 1rem;
    text-align: justify;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Optional: Adjust spinner size and colors */
.spinner {
    border-width: 4px;
    width: 30px;
    height: 30px;
    border-top-color: #4392e7;
    border-bottom-color: #ffffff;
}

.notify-watch-img {
    max-width: 35px;
    height: 100%;
    margin-right: 10px;
}

.Toastify__toast-theme--dark {
    background-color: #060f3c;
}